bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
appsettings.json
launchsettings*
/Tests/generate-merkle-vectors.py
/Tests/MerkleVectors.json
/Tests/Program.cs
/Tests/IndexerCore.Tests.csproj
